/* MovieCard.css */

/*.movie-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 80%; /* Full width of the parent container 
    max-width: 150px; /* Maximum width for larger screens 
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
  }*/

  .movie-detail {
      align-items: center;
      justify-content: center;
  }
  .card {
    position: absolute;

  }
  
  .movie-card__poster {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  .movie-card__info {
    padding: 10px;
  }
  
  .movie-card__title {
    font-size: 1.2em;
    margin: 0;
  }
  
  .movie-card__description {
    font-size: 0.9em;
    color: #555;
  }

  .card-btn {
    padding: 9px 10px;
    border: none;
    background-color: var(--first-color);
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    
    
}
  /*.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    /*display: flex;
    justify-content: space-ar;
    gap: 16px;
    flex-wrap: wrap;*
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
}*/
.card {
    position: relative;
    /*margin: 10px;
    /*width: calc(20% - 20px);*
    width: 230px;
    height: 300px;
    background: #000;
    border-radius: 8px;
    justify-content: space-between;
    overflow: hidden;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, .2);*
    box-sizing: border-box;*/
    margin: 10px;
    width: 230px;

}
.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}/*
.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}
.card:hover .poster::before {
    bottom: 0;
}*/
.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: .3s;
}
.card:hover .poster img {
    transform: scale(1.1);
}
.details {
    /*position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;*/
    z-index: 2;
    margin: 10px;
    height: 100px;
}
.card:hover .details {
    bottom: 0;
}
.details h1,
.details h2 {
    font-weight: 700;
}
.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}
.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}
.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}
.details .rating i {
    color: #e3c414;
}
.details .rating span {
    margin-left: 0.25em;
}
.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}
.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}
.details .desc {
    color: #000;
    line-height: 1.5;
    margin-bottom: 1em;
}

@media (max-width: 1249px) {
    .card {
        width: 220px;
    }
}

@media (max-width: 1199px) {
    .card {
        width: 210px;
    }
}

@media (max-width: 1149px) {
    .card {
        width: 200px;
    }
}

@media (max-width: 1099px) {
    .card {
        width: 240px;
    }
}

@media (max-width: 1039px) {
    .card {
        width: 230px;
    }
}

@media (max-width: 999px) {
    .card {
        width: 220px;
    }
}
@media (max-width: 959px) {
    .card {
        width: 210px;
    }
}

@media (max-width: 919px) {
    .card {
        width: 200px;
    }
}
@media (max-width: 879px) {
    .card {
        width: 190px;
    }
}
@media (max-width: 839px) {
    .card {
        width: 180px;
    }
}

@media (max-width: 799px) {
    .card {
        width: 230px;
    }
}

@media (max-width: 749px) {
    .card {
        width: 220px;
    }
}

@media (max-width: 719px) {
    .card {
        width: 210px;
    }
}

@media (max-width: 689px) {
    .card {
        width: 200px;
    }
}

@media (max-width: 659px) {
    .card {
        width: 190px;
    }
}
@media (max-width: 629px) {
    .card {
        width: 180px;
    }
}

@media (max-width: 599px) {
    .card {
        width: 170px;
    }
}

@media (max-width: 569px) {
    .card {
        width: 240px;
    }
}

@media (max-width: 519px) {
    .card {
        width: 230px;
    }
}

@media (max-width: 499px) {
    .card {
        width: 220px;
    }
}

@media (max-width: 479px) {
    .card {
        width: 210px;
    }
}

@media (max-width: 459px) {
    .card {
        width: 200px;
    }
}
@media (max-width: 439px) {
    .wrapper {
        justify-content: center;
    }
    .card {
        width: 190px;
    }
}

@media (max-width: 419px) {
    .card {
        width: 180px;
    }
}

@media (max-width: 399px) {
    .card {
        width: 170px;
    }
}

@media (max-width: 379px) {
    .card {
        width: 160px;
    }
}

@media (max-width: 359px) {
    .card {
        width: 140px;
    }
}

@media (max-width: 319px) {
    .card {
        width: 270px;
    }
}

/* card hero section */

.hero-sec {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .another-image {
    margin-top: 20px;
    
  }

.content {
    padding: 10px;
}

.content h3 {
    color: #000;
    margin-top: 20px;
}

.content-section p {
    color: #000;
    opacity: 60%;
}

.p-title {
    font-size: 15px;
    color: #000;
    opacity: 80%;
}

.content img {
    margin-top: 40px;
}

.disclaimer-section {
    display: block;
}

.notice-section {
    padding: 10px;
    width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: flex-start;
      margin-top: 10px;
      left: 0;
      box-sizing: border-box;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: start;
  
  }

  .cancel-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0 10px;
    margin-top: -100px;
  }

  @media (max-width: 576px) {
 
    .notice-section p {
      font-size: 0.75em;
  }
  
  .another-image {
      width: 90%;
  }
  }