
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

:root {
 --header-height: 4.0rem;
 --first-color: hsl(28, 88%, 62%);
 --title-color: hsl(0, 0%, 95%);
 --text-color: hsl(0, 0%, 75%);
 --body-color: hsl(0, 0%, 6%);
 --body-font: "Montserrat", sans-serif;
 --second-font: "Dancing Script", cursive;
 --h2-font-size: 1.25rem;
 --small-font-size: 0.813rem;
 --font-semi-bold: 600;
 --z-tooltip: 10;
 --z-fixed: 1000;
}

body {
 background-color: #f2f8fc;
 color: var(--text-color);
 font-family: var(--body-font);
 overflow-x: hidden;
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 
}

ul {
 list-style: none;
}

a {
 text-decoration: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-to-top:hover {
  background-color: #555;
}


/* Main CSS file or App.css */

/*.movie-cards-container {
  padding: 20px;
}

.movie-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}


@media (max-width: 600px) {
  .movie-card {
    max-width: 150px; /* Adjust card size for smaller screens 
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .movie-card {
    max-width: 180px; /* Slightly larger cards for medium screens 
  }
}

@media (min-width: 900px) {
  .movie-card {
    max-width: 200px; /* Default card size for larger screens 
  }
}*/
